<h1>Bienvenidos</h1>
<h2>Los productos disponibles:</h2>
<div>
    {{#each products}}

    <ul style="background-color: gray;    
    border:4px solid black;">
        <li style="font-size:20px;">
            <h3>Nombre: {{title}}</h3>
        </li>
        <li>Description: {{description}}</li>
        <li>Precio: {{price}}</li>
        <li>Imagenes: {{thumbnail}}</li>
        <li>Codigo: {{code}}</li>
        <li>Stock: {{stock}}</li>
        <li>ID: {{_id}}</li>
        <button>Ver mas...</button>
    </ul>
    {{/each}}
    </br>
</div>